
<!-- Toolbar -->
<div class="toolbar" role="banner">
</div>

<div class="content" role="main">
    <form [formGroup]="filterData" >
  <mat-card class="example-card">

    <mat-card-header class="border-bottom">
      <mat-icon><button mat-raised-button (click)="clearForm()">Clear</button></mat-icon>
      <div fxFlex></div>
      <mat-card-title-group fxLayoutAlign="center center">
        <mat-card-title>
          Filters
        </mat-card-title>

      </mat-card-title-group>
      <div fxFlex></div>
      <button mat-raised-button color="primary" type="submit" (click)="filterSubmit()">Done</button>
    </mat-card-header>


    <mat-card-content>
     
      <mat-accordion multi>
        <!-- #docregion basic-panel -->
        <!-- #docregion hide-toggle -->
        <mat-expansion-panel hideToggle>
          <!-- #enddocregion hide-toggle -->
          <mat-expansion-panel-header #panelDate (click)="panelDate._toggle()">
            <mat-panel-title>
              <mat-checkbox class="example-margin"  [color]="color" (click)="panelDate._toggle()">
                Date
              </mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" fieldFormControl="dateType">
            <mat-select  [value]="filterData.get('dateType')?.value" (selectionChange)="selectDate($event.value)" fieldFormControlName="dateType">
              <mat-option [value]="option.value" *ngFor="let option of options">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayoutAlign="start center" >
            <mat-form-field appearance="fill" *ngIf="showSingleDate" fxFlex="40" fieldFormControl="firstDate" >
              <input matInput [matDatepicker]="picker1" fieldFormControlName="firstDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <p *ngIf="showRangeDate" class="date-range-label">and</p>
            <mat-form-field appearance="fill" *ngIf="showRangeDate" fxFlex="40" fieldFormControl="secondDate">
              <input matInput [matDatepicker]="picker2" fieldFormControlName="secondDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="start center" *ngIf="isDays" >
              <mat-form-field appearance="fill"  fxFlex="40" fieldFormControl="daysInput" >
                <input matInput  fieldFormControlName="daysInput">
                <mat-error *ngIf="filterData.get('daysInput')?.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="fill" fieldFormControl="daysType" fxFlex="40">
                  <mat-select  [value]="filterData.get('daysType')?.value" fieldFormControlName="daysType">
                    <mat-option [value]="option.value" *ngFor="let option of days">{{ option.viewValue }}</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
          <mat-radio-group aria-label="Time Zone" formControlName="timeZone">
              <label id="example-radio-group-label">Time Zone</label>
            <mat-radio-button value="GMT+5:30"  [color]="color">GMT+5:30</mat-radio-button>
            <mat-radio-button value="UTC" [color]="color">UTC</mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>
        <!-- #enddocregion basic-panel -->
        <mat-expansion-panel hideToggle>
          <!-- #enddocregion hide-toggle -->
          <mat-expansion-panel-header #panelAmount (click)="panelAmount._toggle()">
            <mat-panel-title>
              <mat-checkbox class="example-margin"  [color]="color" (click)="panelAmount._toggle()">
                Amount
              </mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" fieldFormControl="amountType">
              <mat-select [value]="filterData.get('amountType')?.value" (selectionChange)="selectAmount($event.value)" fieldFormControl="amountType">
                <mat-option [value]="option.value" *ngFor="let option of options">{{ option.viewValue }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayoutAlign="start center" >
                <mat-form-field appearance="fill" *ngIf="showSingleInput" fxFlex="40" fieldFormControl="firstAmt" >
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                  <input matInput formControlName="firstAmt" >
                  <mat-error *ngIf="filterData.get('firstAmt')?.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <p *ngIf="showRangeInput" class="date-range-label">and</p>
                <mat-form-field appearance="fill" *ngIf="showRangeInput" fxFlex="40" fieldFormControl="secondAmt">
                  <input matInput   formControlName="secondAmt">
                  <mat-error *ngIf="filterData.get('secondAmt')?.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <!-- #enddocregion hide-toggle -->
            <mat-expansion-panel-header #panelStatus (click)="panelStatus._toggle()">
              <mat-panel-title>
                <mat-checkbox class="example-margin" [color]="color" (click)="panelStatus._toggle()">
                  Status
                </mat-checkbox>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
              <!-- #enddocregion hide-toggle -->
              <mat-expansion-panel-header #panelPayemnet (click)="panelPayemnet._toggle()">
                <mat-panel-title>
                  <mat-checkbox class="example-margin"[color]="color" (click)="panelPayemnet._toggle()">
                    Payment Method
                  </mat-checkbox>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
      </mat-accordion>


    </mat-card-content>
 
  </mat-card>
</form>
<div class="show-card">
    <mat-card class="example-card" *ngIf="isShowData">

        <mat-card-header class="border-bottom">
          
          <mat-card-title-group fxLayoutAlign="center center">
            <mat-card-title>
              Filters Data
            </mat-card-title>
      
          </mat-card-title-group>
          <div fxFlex></div>
          <button mat-raised-button color="primary"  (click)="filterSubmit()">Close</button>
        </mat-card-header>
      
      
        <mat-card-content>
         <p *ngIf="filterData.get('dateType')?.value">Date Filter Type - {{filterData.get('dateType')?.value}}</p>
         <p *ngIf="filterData.get('firstDate')?.value">Date- {{filterData.get('firstDate')?.value}}</p>
         <p *ngIf="filterData.get('secondDate')?.value">To Date- {{filterData.get('secondDate')?.value}}</p>
         <p *ngIf="filterData.get('timeZone')?.value"> Time Zone - {{filterData.get('timeZone')?.value}}</p>
         <p *ngIf="filterData.get('daysInput')?.value">To Date- {{filterData.get('daysInput')?.value}}</p>
         <p *ngIf="filterData.get('timeZone')?.value"> Time Zone - {{filterData.get('timeZone')?.value}}</p>
         <p *ngIf="filterData.get('daysType')?.value">Amount Filter Type-{{filterData.get('daysType')?.value}}</p>
         <p *ngIf="filterData.get('firstAmt')?.value"> Amount{{filterData.get('firstAmt')?.value}}</p>
         <p *ngIf="filterData.get('secondAmt')?.value">To Amount- {{filterData.get('secondAmt')?.value}}</p>
        
      
        </mat-card-content>
     
      </mat-card>
</div>

</div>






<router-outlet></router-outlet>